@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
    display: inline-block;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
a {
    font-family: 'Poppins', sans-serif;
}


#button {
    display: inline-block;
    background-color: #1668ec;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    border: 2px solid #fff;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 44px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}




#navTwo{
     position: fixed;
     top: -100px;
     left: 0;
     width: 100%;
     display: block;
     z-index: 99;
     background-color: #fff!important;
     transition: .4s;
}

#navTwo a{
     color: #000 !important;
}


#navTwo ul li>a::after{
    content: '';
    width: 30%;
    height: 4px;
    background-color:#3162de;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scaleX(0);
    transition: .4s;
}


#navTwo ul li > a:hover::after {
    transform: scaleX(1);
}



#navTwo ul li > a.active::after {
    transform: scaleX(1);
}











.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}



.io-h2 {
    position: relative;
    margin-bottom: 22px;
    color: #333;
    font-size: 34px;
    font-weight: 500;
}

.io-h2::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 4px;
    background-color: #1668ec;
    display: block;
    top: -15px;
    left: 0;
    right: -70px;
    margin: auto;
}


.io-h2::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    background-color: #1668ec;
    display: block;
    top: -15px;
    left: -30px;
    right: 0;
    margin: auto;
}


.io-p {
    line-height: 25px;
    max-width: 750px;
    padding-top: 0;
    color: #666;
    margin-bottom: 0;
    margin: auto;
}







.home-section {
    background: linear-gradient(to right, #1668ec 0%, #685ac5 100%);
    padding-bottom: 220px;
}

.home-section nav {
    background: transparent !important;
    padding: 20px 0;
}

.home-section nav a.logo {
    margin-left: -14px;
}

.home-section nav .main-menu {}

.home-section nav .main-menu ul {
    margin-left: auto;
}

.home-section nav .main-menu ul li {
    margin-right: 15px;
}

.home-section nav .main-menu ul li a {
    color: #d6e0f9 !important;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.home-section nav .main-menu ul li>a.active {
    color: #fff !important;
}


.home-section nav .main-menu ul li>a::after {
    content: '';
    width: 30%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;

    right: 0;
    margin: auto;
    transform: scaleX(0);
    transition: .4s;
}

.home-section nav .main-menu ul li>a:hover::after {
    transform: scaleX(1);
}

.home-section nav .main-menu ul li>a.active::after {
    transform: scaleX(1);
}


.home-section nav .nav-btn {}

.home-section nav .nav-btn a {
    display: inline-block;
    color: #fff;
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: auto;
    background-size: 200%;
    padding: 12px 35px;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: .4s;
    font-weight: 600;
}

.home-section nav .nav-btn a:hover {
    color: #fe8464;
    background: #fff;
    border: 2px solid #fe8464;
}

.home-section .banner-part {
    display: flex;
    align-items: center;
}

.home-section {
    position: relative;
    z-index: 99;
    overflow: hidden;
}

.home-section::after {
    content: '';
    background-image: url(https://www.setblue.com/template/itotek/images/header-shape.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    position: absolute;
    bottom: -358px;
    left: 0;
    height: 100%;
    display: block;
    z-index: -1;
    width: 100%;
}

.home-section .banner-part .home-content {
    animation: banner-translate;
    animation-duration: 3s;

}


.home-section .banner-part .home-content h1 {
    font-size: 75px;
    line-height: 85px;
    color: #fff;
    font-weight: 700;
}

.home-section .banner-part .home-content p {
    color: #fff;
    margin-top: 16px;
}

.home-section .banner-part .home-content .banner-btn {}

.home-section .banner-part .home-content .banner-btn a {
    color: #ffff;
    border: 2px solid #ffff;
    border-radius: 50px;
    padding: 10px 28px;
    background: transparent;
    margin-top: 27px;
    font-weight: 600;
    transition: .4s;
}


.home-section .banner-part .home-content .banner-btn a:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #3163DF;
}

.home-section .banner-part .banner-img {
    animation: banner-translate;
    animation-duration: 3s;
}


@keyframes banner-translate {
    0% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(0);
    }
}

.home-section .banner-part .banner-img img {}




.home-section .bubble-items {
    position: relative;
}

.home-section .bubble-items img {
    width: 4%;
    position: absolute;
    z-index: -1;
    opacity: .2;
    left: 40%;
    bottom: 70%;
    animation-name: bubbles;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.home-section .bubble-items img:nth-child(1) {
    left: 0;
    bottom: 0;
    animation-delay: .4s;
}

.home-section .bubble-items img:nth-child(2) {
    left: 23%;
    bottom: 0;
    animation-delay: .6s;
}

.home-section .bubble-items img:nth-child(3) {
    left: 93%;
    bottom: 0;
    animation-delay: 1s;
    width: 2%;
}

.home-section .bubble-items img:nth-child(4) {
    left: 15%;
    bottom: 0;
    animation-delay: 2s;
    width: 5%;
}

.home-section .bubble-items img:nth-child(5) {
    left: 68%;
    bottom: -40px;
    animation-delay: 1.5s;
}

.home-section .bubble-items img:nth-child(6) {
    left: 58%;
    bottom: -71px;
    animation-delay: .3s;
}

.home-section .bubble-items img:nth-child(7) {
    left: 85%;
    bottom: 0;
    animation-delay: 4s;
}

.home-section .bubble-items img:nth-child(9) {
    left: 50%;
    bottom: 0;
    animation-delay: 2.5s;
    width: 2%;
}

.home-section .bubble-items img:nth-child(10) {

    left: 78%;
    bottom: 0;
    animation-delay: 3.5s;
}


.home-section .bubble-items img:nth-child(11) {

    left: 68%;
    bottom: 0;
    animation-delay: 4.5s;
}




@keyframes bubbles {
    0% {
        transform: translateY(500%);
    }


    100% {
        transform: translateY(-1000%);
    }
}




.business-section {
    padding: 100px 0;
    background: #f8f9fa;
}

.business-section .business-title {
    margin-bottom: 50px;
}

.business-section .business-title h2 {
    font-weight: 600;
    font-size: 39px;
}

.business-section .business-title p {}

.business-section .business-card {
    padding: 35px;
    background: #ffffff;
    box-shadow: 0 0 24px 5px #00000014;
    margin-bottom: 25px;
    animation: banner-translate;
    animation-duration: 3s;
    transition: .4s ease-in-out;
    border: 2px solid transparent;
    border-radius: 5px;
}

.business-section .scnd-one {
    animation-delay: .3s;
}

.business-section .business-card .b-card-title {
    display: flex;
}

.business-section .business-card .b-card-title h4 {
    font-size: 29px;
    line-height: 30px;
    font-weight: 600;
    flex-grow: 1;
}

.business-section .business-card .b-card-title .icon {
    margin-right: -44px;
    flex-grow: 1;
}

.business-section .business-card .b-card-title .icon span {
    background: linear-gradient(to right, #1668ec 0%, #685ac5 100%);
    width: 60px;
    display: inline-block;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    transition: .4s;
}

.business-section .business-card .b-card-title .icon span i {
    color: #fff;
    font-size: 32px;
}

.business-section .business-card .b-card-content {}

.business-section .business-card .b-card-content p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 300;
    color: #333333;
}

.business-section .business-card .b-card-content a {
    color: #0067f4;
    font-size: 17px;
    font-weight: 600;
    margin-top: 20px;
}



.business-section .business-card:hover {
    border: 2px solid #fc3832;
}

.business-section .business-card:hover .icon span {
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: auto;
    background-size: 200%;
}




.about-section {
    background: #ffffff;
    padding: 100px 0;
}

.about-section .about-title {
    margin-bottom: 55px;
}

.about-section .about-title h2 {
    font-weight: 600;
}

.about-section .about-title p {}

.about-section .about-content-box {
    margin-bottom: 30px;

    animation-name: slide-1;
    animation-duration: 5s;
    background: #fff;
    padding: 20px;
    padding-top: 0;
}

.about-section .about-content-box h2 {
    font-size: 37px;
    line-height: 35px;
    margin-bottom: 20px;
    font-weight: 600;
}

.about-section .about-content-box .box-content {}

.about-section .about-content-box .box-content p {
    font-size: 19px;
    font-weight: 300;
    line-height: 40px;
    color: #333333;
    margin: 0px;
    margin: 50px 0;
}

.about-section .about-content-box .box-content a {
    border-radius: 50px;
    background: #fff;
    color: #fe7856;
    border: 2px solid #fe7856;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    transition: .5s;
}


.about-section .about-content-box .box-content a:hover {
    background-color: #fe7856;
    color: #fff;
}

.about-section .about-img {
    margin-bottom: 50px;
    animation-name: slide-2;
    animation-duration: 6s;

}

.about-section .about-img img {}




@keyframes slide-1 {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-2 {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0);
    }
}



.pricing-section {
    background: #f8f9fa;
    padding: 100px 0;
}

.pricing-section .pricing-title {}

.pricing-section .pricing-title h2 {}

.pricing-section .pricing-title p {
    margin-bottom: 60px;
}

.pricing-section .pricing-card {
    background: #ffffff;
    padding: 40px 70px;
    border-radius: 12px;
    border: 1px solid aliceblue;
    background-image: url(https://www.setblue.com/template/itotek/images/price-shape.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    box-shadow: 0 0 11px 5px #00000008;
    border: 2px solid transparent;
    transition: all 0.3s ease-out 0s;
}


.pricing-section .pricing-card:hover {
    border: 2px solid #fc3832;

}

.pricing-section .pricing-card .card-top {
    text-align: center;
}

.pricing-section .pricing-card .card-top h4 {
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    color: #333333;
    position: relative;
    padding-bottom: 8px;
}

.pricing-section .pricing-card .card-top span {
    display: block;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    color: #333333;
}

.pricing-section .pricing-card .card-top p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.pricing-section .pricing-card ul {
    padding: 0;
    list-style: none;
}

.pricing-section .pricing-card ul li {
    font-size: 16px;
    line-height: 24px;
    color: #333333b3;
    margin-top: 16px;
}


.pricing-section .pricing-card ul li::before {
    content: "\f123";
    font-family: flaticon !important;
    color: #0067f4;
    margin-right: 8px;
}

.pricing-section .pricing-card .card-btn {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 18px;
}

.pricing-section .pricing-card .card-btn a {
    border-radius: 50px;
    background: #fff;
    color: #fe7856;
    border: 2px solid #fe7856;
    padding: 10px 30px;
    z-index: 5;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
}

.pricing-section .pricing-card .card-btn a:hover {
    background: linear-gradient(to right, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background-size: auto;
    background-size: 200%;
    border: 2px solid #fe7856;
    color: #fff;
}





.team-section {
    padding: 100px 0 !important;
}

.team-section .team-title {}

.team-section .team-title h2 {}

.team-section .team-title p {
    margin-bottom: 50px;
}

.team-section .team-card {
    box-shadow: 0 0 10px 5px #00000014;
    border-radius: 10px;
}

.team-section .team-card .team-img {
    position: relative;
}

.team-section .team-card .team-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.team-section .team-card .team-img .team-social {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 245px;
    height: 60px;
    background: #ffffff2b;
    line-height: 60px;
    border-radius: 50px;


}



.team-section .team-card .team-img .team-social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.team-section .team-card .team-img .team-social ul::before {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    border-radius: 50px;

}

.team-section .team-card:hover .team-social ul::before {
    opacity: 1;
    visibility: visible;
}

.team-section .team-card .team-img .team-social ul li {
    margin: 0px 10px;
}

.team-section .team-card .team-img .team-social ul li a {
    display: inline-block;
    color: #fff;
    font-size: 17px;
}

.team-section .team-card .team-img .team-social ul li a i {}

.team-section .team-card .team-card-bottom {
    text-align: center;
    padding: 20px;
}

.team-section .team-card .team-card-bottom h4 {}

.team-section .team-card .team-card-bottom h4 a {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #2E2E2E;
}

.team-section .team-card .team-card-bottom p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #333333;
    margin: 0px;
}






.client-section {
    background-image: url(https://www.setblue.com/template/itotek/images/testimonial_bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    padding: 100px 0 !important;
    z-index: 1;
}

.client-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #003994e0;
    left: 0px;
    top: 0px;
    display: block;
    z-index: -1;
}

.client-section .client-title {}

.client-section .client-title h2 {
    color: #fff;
}

.client-section .client-title p {
    color: #fff !important;
    margin-bottom: 60px;
}





.client-section .mycaro {
    bottom: -70px;
}

.client-section .mycaro button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}



.client-section .client-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: .5s;
}

.client-section .bor-act{
    border:2px solid #FE7A7B !important;
}

.client-section .client-card:hover{
    border:2px solid #FE7A7B;
}
.client-section .client-card .bor-act{}
.client-section .client-card .client-card-top {
    display: flex;
    justify-content: space-between;
}

.client-section .client-card .client-card-top .left {}

.client-section .client-card .client-card-top .left span {
    font-size: 36px;
    color: #119BD2;
    transition: .5s;
}

.client-section .client-card:hover .client-card-top .left span{
      color: #FE7A7B;
}


.client-section .client-card .client-card-top .right {}

.client-section .client-card .client-card-top .right span {
    color: #FE806D;
}

.client-section .client-card p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #333333;
    margin: 0px;
}

.client-section .client-card .client-sub {
    display: flex;
    margin-top: 50px;
}

.client-section .client-card .client-sub .sub-img {
    margin-right: 25px;
}

.client-section .client-card .client-sub .sub-img img {
    width: 50px;
    border-radius: 50%;
}

.client-section .client-card .client-sub .sub-content {}

.client-section .client-card .client-sub .sub-content h6 {
    font-size: 16px;
}

.client-section .client-card .client-sub .sub-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #333333;
    margin: 0px;
}






@media only screen and (max-width:1210px) {

    #navTwo{
      
        display: none;
    }

    .home-section nav .main-menu ul li>a::after {
        content: '';
        width: 0;
        height: 4px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: scaleX(0);
        transition: .4s;
    }
    
}